aside.sidebar
    .sidebar-wrapper
        h2
            span Links
        .category.social-list-1
            .title
                span Category:
            ul.social-list
                li
                    img(src="" alt="")
                    a(href="") Twitter
                li
                    img(src="" alt="")
                    a(href="") Facebook
                li
                    img(src="" alt="")
                    a(href="") Instagram
        .category.social-list-2
            .title
                span Category:
            ul.social-list
                li
                    img(src="" alt="")
                    a(href="") Discord
                li
                    img(src="" alt="")
                    a(href="") Github
                li
                    img(src="" alt="")
                    a(href="") Reddit
                li
                    img(src="" alt="")
                    a(href="") Youtube
        .category.social-list-3
            .title
                    span Category:
            ul.social-list
                li
                    img(src="" alt="")
                    a(href="") Discord
                li
                    img(src="" alt="")
                    a(href="") Github
                li
                    img(src="" alt="")
                    a(href="") Reddit