main.main
    section.main-section
        h1.title Claim your very own comb
        h2.subtitle Stake Uniswap LP Tokens
        .main-section__bar
            .balance
                .balance__logo
                    img(src="images/download 1.svg" alt="balance-logo")
                ul.list
                    li
                        span Your Balance
                    li
                        span 0.00 COMB
                    li
                        span Unclaimed: 0.000 COMB
                    li
                        span ≈ 0.00 Ξ
                    li
                        span ≈ $0
                button.btn.btn-primary(type="button")
                    span Earn
            .comb-price
                .comb-price__logo
                    img(src="images/download 1.svg" alt="comb-price-logo")
                ul.list
                    li
                        span COMB Price
                    li
                        span 0.19 Ξ
                    li
                        span LP: 406.97Ξ / 2,127.65COMB
                    li
                        span ≈ $88.16
                    li
                        span ≈ $0
                button.btn.btn-primary(type="button")
                    span Earn
                button.btn.btn-secondary(type="button")
                    span Analytics
            .total-supply
                ul.list
                    li
                        span Total Circulating Supply
                    li
                        span 4,327 COMB
                    li
                        span ≈ 827.59 Ξ
                    li
                        span ≈ $381,422.06
                    li
                        span Current emission rate ~39 COMB/day
            .total-value
                ul.list
                    li
                        span Total Locked Value
                    li
                        span 2,058.06 Ξ
                    li
                        span ≈ $948,523.82
                    li
                        span Locked
    section.sub-section
        .sub-section-header
            .header-title
                span TOP POOLS
            .header-item
                a(href="#")
                    span View All
        .sub-section__bar
            .comb-stake
                .stake-container
                    .stake__comb-day
                        .stake__item-discount
                            span 70 %
                        .stake__item-text
                            span ≈27.3 COMB/day
                    .logo-comb-stake
                        img(src="images/logo-comb-stake.svg" alt="logo-comb-stake")
                    .stake__title
                        span COMB Stake!
                    .stake__subtitle
                        span Deposit COMB-ETH UNI-V2 LP &nbsp  Earn COMB
                    .stake__wrap
                        .stake__wrap-text
                            ul.list-item
                                li
                                    span APY
                                li
                                    span Total Staked
                                li
                                    span COMB
                                li
                                    span ETH
                            button.btn.btn-primary(type="button")
                                span Select
                        .stake__wrap-value
                            ul.list-value
                                li
                                    span 299.931%
                                li
                                    span 1,635.57
                                li
                                    span 312.85
                            button.btn.btn-secondary(type="button")
                                span  Get LP
            .def-stake
                .stake-container
                    .stake__comb-day
                        .stake__item-discount
                            span 70 %
                        .stake__item-text
                            span ≈4.68 COMB/day
                    .logo-comb-stake
                        img(src="images/logo-def-stake.svg" alt="logo-def-stake")
                    .stake__title
                        span DEF Stake!
                    .stake__subtitle
                        span Deposit DEF-COMB UNI-V2 LP &nbsp  Earn COMB
                    .stake__wrap
                        .stake__wrap-text
                            ul.list-item
                                li
                                    span APY
                                li
                                    span Total Staked
                                li
                                    span DEF
                                li
                                    span ETH
                            button.btn.btn-primary(type="button")
                                span Select
                        .stake__wrap-value
                            ul.list-value
                                li
                                    span 2,187.606%
                                li
                                    span 1,635.57
                                li
                                    span 312.85
                            button.btn.btn-secondary(type="button")
                                span  Get LP
            .comp-stake
                .stake-container
                    .stake__comb-day
                        .stake__item-discount
                            span 70 %
                        .stake__item-text
                            span ≈1.17 COMB/day
                    .logo-comb-stake
                        img(src="images/logo-comp-stake.svg" alt="logo-comp-stake")
                    .stake__title
                        span COMP Stake!
                    .stake__subtitle
                        span Deposit COMP-ETH UNI-V2 LP &nbsp  Earn COMB
                    .stake__wrap
                        .stake__wrap-text
                            ul.list-item
                                li
                                    span APY
                                li
                                    span Total Staked
                                li
                                    span COMB
                                li
                                    span ETH
                        .stake__wrap-value
                            ul.list-value
                                li
                                    span 299.931%
                                li
                                    span 1,635.57
                                li
                                    span 312.85
                        //-.btn-wrap
                            button.btn.btn-primary(type="button")
                                span Select
                            button.btn.btn-secondary(type="button")
                                span  Get LP